<h2>お知らせ</h2>
 <ul>
   <% @notifications.each do |notification| %>
   <hr>
     <li>
       <p>
           <%= notification.opponent_user.user.try(:username) %>さんから旅行計画の招待が来ています
           <%= link_to "確認する" ,:action => "show"  %>
           <%= link_to "許可しない",:action => "delete", :confirm => "招待を破棄してもよろしいでしょうか？" %>
       </p>
     </li>
   <% end %>
   <% if @notifications.blank?%>
     <li>現在、表示するものはありません。</li>
   <% end %>
 </ul>
