<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @user.username %>様,登録ありがとうございます</h1>
    <p>あなたの旅行計画作成に少しでもお役に立てるよう、ぜひご利用ください</p>
    <%= link_to "Travel Planning",@root_url %>
  </body>
</html>
