<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @user.username %>様のデータが登録されました</h1>
    <p>詳細は管理画面で確認してください</p>
    <%= link_to "管理画面へ",@root_url %>
  </body>
</html>
