<button type="button" class="btn btn-lg btn-default">
  <%= link_to "戻る",travel_planning_index_path,data: {"turbolinks" => false} %>
</button>

<button type="button" class="btn btn-lg btn-default">
  <%= link_to "画像をアップロードする",travel_planning_date_upload_prepare_path  %>
</button>

<div id="calendar" class="bottom"></div>
<%= hidden_field_tag :schedule_id, @schedule_id %>
