<%= link_to  travel_planning_index_path(),data: {"turbolinks" => false} do  %>
  <i class="glyphicon glyphicon-backward"> 戻る</i>
<% end %>
<div id="calendar" class="bottom"></div>
<%= hidden_field_tag :schedule_id, @schedule_id %>
