<div class="row">
  <div class="row">
    <div class="col-md-4 col-md-push-6 text-center"><h2>旅行スケジュール日程作成</h2></div>
  </div>
  <aside class="col-md-4">
    <!-- サイドパネル設置予定 -->
  </aside>
  <div class="col-md-8">
    <% flash_messages %>
    <div class="pull-left">
      <%= render "index" %>
    </div>
  </div>
</div>
