#error_explanation {
  color: #ff0000;
}
//ヘッダー部分
.top {
  margin-top: 50px;
}
.panel_top {
  margin: 10px 0;
}
.modal-header {
    border-radius: 5px 5px 0px 0px;
    background-color: #333;
    color: #eee;
}
.modal-footer {
    border-radius: 0px 0px 5px 5px;
    background-color: #eee;
    color: #666;
}
