.carousel{
  height: 200px;
  margin:auto;
}
.carousel .item {
  height: 100%;
}

.carousel img {
  position: absolute;
  width: 100%;
}
@media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:200px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:400px;
  }
}
@media (min-width: 1200px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:600px;
  }
}
