<div class="row">
    <div class="panel_top">
      <% flash_messages %>
    </div>
    <div class="schedule-index pull-left">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center"><h3 class="page-header">旅行一覧</h3></div>
      </div>
      <%= render "index" %>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <%= link_to new_travel_planning_path, remote: true, class: "btn btn-default" do  %>
            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="text-center">
          <%= paginate @schedules, window: 3 %>
        </div>
      </div>
    </div>

    <div id="schedule-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

</div>
