<div class="row">
    <div class="schedule-index pull-left">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center"><h3 class="page-header">旅行一覧</h3></div>
      </div>
      <%= render "index" %>
    </div>

    <div id="schedule-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

</div>
