<div class="row">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center"><h2>旅行一覧</h2></div>
  </div>
  <aside class="col-md-4">
    <!-- サイドパネル設置予定 -->
  </aside>
  <div class="col-md-8">

    <% flash_messages %>
    <div class="schedule-index pull-left">
      <%= render "index" %>
      <div class="row col-md-8 col-md-offset-2">
          <%= link_to new_travel_planning_path, remote: true, class: "btn btn-default" do  %>
            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
          <% end %>
      </div>
      <div class="row col-md-10 col-md-offset-1">
        <%= paginate @schedules %>
      </div>
    </div>

    <div id="schedule-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

  </div>
</div>
